* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

body {
    background: rgb(27,61,116);
    background: -webkit-linear-gradient(bottom, rgba(27,61,116,1) 0%, rgba(3,5,36,1) 70%);
    background: -o-linear-gradient(bottom, rgba(27,61,116,1) 0%, rgba(3,5,36,1) 70%);
    background: linear-gradient(to top, rgba(27,61,116,1) 0%, rgba(3,5,36,1) 70%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1b3d74",endColorstr="#030524",GradientType=1);
    min-height: 100vh;
    overflow-x: hidden;
}

.container {
    width: 1100px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-left h2 {
    font-weight: bolder;
    color: #E50812;
    text-transform: uppercase;
    padding: 5px;
    margin: 5px;
}

.header-left small {
    color: white;
    border: 1px solid white;
    padding: 5px;
}

header {
    /* width: 100%; */
    height: 70px;
    background-color: rgba(0, 0, 0, 0.70);
}
header img {
    height: 50px;
    margin-top: 10px;
}

.container-input {
    justify-content: flex-end;
}

.movies-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
}

#stars {
    display: flex;
    color: gold;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 250px;
  height: 375px;
  margin: 10px 10px;
  border: 2px solid white;
  overflow: hidden;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  /* background-color: #ebebeb; */
  color: black;
  /* background-image: url(../img/film-poster-placeholder.png); */
  background-size: cover;
  font-size: 12px;
  text-align: left;
}

.flip-card-front img {
    width: 250px;
    height: 375px;
}

#placeholder {
}

/* Style the back side */
.flip-card-back {
  background-color: rgba(0, 0, 0, 0.70);
  color: white;
  transform: rotateY(180deg);
  font-size: 14px;
  padding: 10px;
  text-align: justify;
  overflow: auto;
}

.flip-card-back h4 {
    font-weight: bolder;
    font-size: 16px;
    text-align: left;
}
